<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>F5 Chatbot</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <!-- partial:index.partial.html -->
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        </i> F5 Chatbot </i>
      </div>
    </header>

    <main class="msger-chat">

    </main>

    <form class="msger-inputarea">
      <input type="text" class="msger-input" id="textInput" placeholder="Enter your message...">
      <button type="submit" class="msger-send-btn">Send</button>
    </form>
  </section>
  <!-- partial -->
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <script>

    const msgerForm = get(".msger-inputarea");
    const msgerInput = get(".msger-input");
    const msgerChat = get(".msger-chat");

    // Icons made by Freepik from www.flaticon.com
    const BOT_IMG = "https://cdn-icons-png.flaticon.com/512/6569/6569264.png";

    // //red
    // const BOT_IMG = "https://cdn-icons-png.flaticon.com/512/3273/3273828.png";
    const PERSON_IMG = "https://cdn-icons-png.flaticon.com/512/1177/1177568.png";
    const BOT_NAME = "F5 Assistant";
    const PERSON_NAME = "You";

    msgerForm.addEventListener("submit", event => {
      event.preventDefault();

      const msgText = msgerInput.value;
      if (!msgText) return;

      const textHTML = `<div class="msg-text">${msgText}</div>`
      appendMessage(PERSON_NAME, PERSON_IMG, "right", textHTML);
      msgerInput.value = "";
      botResponse(msgText, "chat");
    });

    botResponse("", "start");
    function appendMessage(name, img, side, text) {
      //   Simple solution for small apps
      const msgHTML = `
<div class="msg ${side}-msg">
  <div class="msg-img" style="background-image: url(${img})"></div>

  <div class="msg-bubble">
    <div class="msg-info">
      <div class="msg-info-name">${name}</div>
      <div class="msg-info-time">${formatDate(new Date())}</div>
    </div>

    `+ text + `
  </div>
</div>
`;

      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;
    }

    function botResponse(rawText, command) {
      // Bot Response
      if (command === "chat") {
        $.get("/get", { msg: rawText, command: command }).done(function (data) {
          console.log(rawText);
        //   data = `<html><head><title>Request Rejected</title></head>
        // <body>The requested URL was rejected. Please consult with your administrator.<br/><br/>
        //   Your support ID is b91544bb-cde7-4264-b5eb-3a946459940c<br/><br/><a href='javascript:history.back();'>[Go Back]</a></body></html>`;

          // if (data.slice(0,6) != "<html>") {
          //   console.log('not <html>!!')
          //   console.log('it is', data.slice(0,6))
          // } else {
          //   console.log('It is html!!!')
          // }

          console.log(data);
          console.log(typeof (data));

          console.log(typeof (typeof (data)));

          if (typeof (data) != 'object' && typeof (data) == 'string' && data.slice(0, 6) == "<html>") {
            data = { "<strong>Note: </strong><i>Your input is blocked by our security systems.</i>": 'text', "<br></br><strong>Main menu</strong>": 'text', "Select the item you're looking for.": 'text', "F5 Solutions": 'button', "Company information": 'button' }
          }

          var text = "";
          var buttons = ``;
          for (var key in data) {
            if (data[key] === "button") {
              buttons += `<div class="display-area"><button class="display-btn">${key}</button></div>`;
            } else {
              text += `<div class="msg-text"><br>${key}</div>`;
            }
          }
          const msgText = text + buttons;
          appendMessage(BOT_NAME, BOT_IMG, "left", msgText);
          $(".display-btn").off("click");
          $(".display-btn").click(function () {
            console.log("Clicked");
            const msgText = this.textContent;

            const textHTML = `<div class="msg-text">${msgText}</div>`;
            appendMessage(PERSON_NAME, PERSON_IMG, "right", textHTML);
            botResponse(msgText, "chat");
          });
        });
      }
      else if (command === "start") {
        var result = ""
        $.get("/get", { msg: rawText, command: command }).done(function (data) {
          console.log(rawText);
          console.log(data);
          for (var key in data) {
            result = `<div class="msg-text"><br>${key}</div>`;
            appendMessage(BOT_NAME, BOT_IMG, "left", result);
            // botResponse(msgText, "chat");

          }
        });
        return result;
      }
    }


    // Utils
    function get(selector, root = document) {
      return root.querySelector(selector);
    }

    function formatDate(date) {
      const h = "0" + date.getHours();
      const m = "0" + date.getMinutes();

      return `${h.slice(-2)}:${m.slice(-2)}`;
    }

    // function get_greet_msg() {
    //   var msgText = ""
    //   $.ajax({
    //     type: "POST",
    //     url: '/get_greet_msg',
    //     dataType: "json",
    //     data: JSON.stringify(),
    //     contentType: 'application/json;charset=UTF-8',
    //     success: function (data) {
    //       console.log(data);
    //       msgText = data;
    //       appendMessage(BOT_NAME, BOT_IMG, "left", msgText)
    //     }
    //   });
    //   return msgText;
    // }

  </script>

</body>

</html>
